@model Blood.Models.User

@{
    ViewBag.Title = "Dashbord";
}

<h2>Congratulation You are Now Member. If You want Edit Please Use This Link</h2>

<div>
    @Html.ActionLink("Update", "UserInformation", "Home")
</div>